body {
    margin: 0;
    letter-spacing: .04rem;
    font-family: Montserrat, sans-serif
}

.top, nav {
    display: flex
}

nav {
    width: 100%;
    height: max-content;
    padding-top: 30px;
    flex-direction: column
}

.top {
    width: 70%;
    height: min-content;
    padding-bottom: 15px;
    align-self: center;
    justify-content: space-between;
    border-bottom: solid #d3d3d3;
    border-width: 1px
}

.hamburger {
    display: none
}

.logo img {
    height: 27px;
    width: auto;
    padding-left: 25px
}

.rightNav {
    display: flex
}

.cart {
    padding-left: 15px
}

.navBar, button {
    font-weight: 700;
    height: max-content
}

.hero, .navBar {
    width: 100%;
    display: flex;
    justify-content: center
}

.navBar {
    font-size: 15px;
    color: #696969
}

.navBar div {
    margin: 8px 15px 17px
}

.navBar span:hover {
    color: #000;
    border-bottom: 4px solid #1b5ca8;
    cursor: pointer
}

.hero {
    background-image: url(hero/03.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 540px;
    align-items: center;
    text-align: center;
    color: #fff
}

.heroText h1 {
    font-size: 80px;
    font-weight: 800;
    margin: -10px
}

.heroText .subText {
    font-size: 30px;
    font-weight: 500;
    margin: 40px 0
}

button {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    letter-spacing: .04rem;
    padding: 13px 50px;
    border-radius: 35px;
    cursor: pointer;
    width: max-content
}

.giftButt, .heroButt {
    background: #fff;
    color: #1b5ca8;
    border: #fff
}

.braceletText, .crocoLimited, .stampsBlue h3 {
    font-weight: 800;
    font-size: 35px;
    text-align: center;
    margin: 50px auto 0
}

.braceletText, .crocoLimited {
    color: #1b5ca8;
    width: 100%;
    max-width: 1300px
}

.stampsBlue h3 {
    color: #fff
}

.bracelet, .braceletBlock {
    display: flex;
    align-content: center;
    justify-content: center
}

.bracelet, .stampsBlue h3 {
    width: 100%;
    max-width: 1300px
}

.bracelet {
    font-size: 15px;
    font-weight: 500;
    margin-top: 30px
}

.leftBracelet {
    width: 25%
}

.leftBracelet, .middleBracelet, .rightBracelet {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.middleBracelet {
    width: 40%;
    justify-self: center
}

.rightBracelet {
    width: 25%;
    text-align: right
}

.braceletObject {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-items: center;
    margin: -1px 0
}

.smallTxt {
    font-size: 12px;
    font-weight: 400;
    margin-top: -10px
}

.braceletImage img {
    width: 90px;
    height: auto;
    margin: 20px 15px
}

.rating {
    display: flex;
    flex-direction: column
}

.braceletName {
    color: #1b5ca8;
    font-weight: 750;
    font-size: 30px;
    margin: -40px 0 10px
}

.braceletName, .cartButt, .stars {
    display: flex;
    align-self: center
}

.stars {
    justify-self: center;
    fill: #f5c211
}

.stars svg {
    width: 25px;
    height: auto
}

.stars span {
    font-size: 18px;
    font-weight: 410;
    padding-top: 2px;
    margin-left: 15px
}

.cartButt {
    background: #1b5ca8;
    color: #fff;
    border: #1b5ca8;
    margin: 20px 0 40px
}

.stamps {
    display: flex;
    justify-content: center;
    margin-top: 20px
}

.stampsBackground {
    width: 100%;
    max-width: 1150px;
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    border: #1b5ca8 2px solid
}

.stampsBlue {
    background-color: #1b5ca8;
    height: 40%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    color: #fff
}

.stampsBlue span {
    display: flex;
    margin: 10px 30px 40px;
    text-align: center;
    font-weight: 400;
    font-size: 20px
}

.stampsWhite {
    display: flex;
    justify-content: space-around;
    padding: 0 20px
}

.stampsImage img {
    height: 200px;
    width: auto;
    margin: 40px 20px
}

.stampsImage3 img {
    padding-top: 20px;
    height: 170px
}

.gift, .present {
    display: flex;
    justify-content: center
}

.present {
    margin: 20px
}

.gift {
    height: max-content;
    align-content: center;
    margin-bottom: 20px
}

.giftBackground {
    width: 100%;
    max-width: 1150px;
    display: flex
}

.giftLeft, .giftRight {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center
}

.giftLeft {
    padding: 0 30px;
    flex-direction: column;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    border: #1b5ca8 2px solid;
    background: #1b5ca8;
    color: #fff
}

.crocoBackground h3, .giftLeft h3 {
    font-weight: 800;
    font-size: 35px;
    text-align: left;
    margin: 0 0 25px
}

.giftLeft span {
    display: flex;
    text-align: left;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px
}

.giftButt {
    display: flex;
    align-self: flex-start;
    margin-top: 30px
}

.giftRight img {
    object-fit: cover;
    width: 100%;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px
}

.croco, .water {
    display: flex;
    width: 100%
}

.water {
    background-image: url(img/background1.webp);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    justify-content: center
}

.croco {
    flex-direction: column;
    align-items: center;
    margin: 250px 0
}

.crocoLimited {
    margin-bottom: 40px
}

.crocoBackground {
    background-image: url(img/croco.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 18px;
    width: 100%;
    max-width: 1150px;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    color: #fff
}

.crocoBackground h3, .crocoBackground p {
    margin-left: 60px;
    margin-bottom: 10px
}

.crocoBackground h3 {
    margin-top: 50px
}

.crocoButt {
    background: #1b5ca8;
    color: #fff;
    border: #1b5ca8;
    font-size: 15px;
    margin: 5px 0 40px 60px
}