body {
    margin: 0;
    letter-spacing: .04rem;
    font-family: Montserrat, sans-serif
}

* {
    padding: 0;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

.aHover {
    color: #696969;
}

.aHover:hover {
    color: black;
}

.top, nav {
    display: flex
}

nav {
    width: 100%;
    height: max-content;
    padding-top: 30px;
    flex-direction: column;
    border-bottom: solid #d3d3d3;
    border-width: 1px
}

.top {
    width: 70%;
    height: min-content;
    padding-bottom: 15px;
    align-self: center;
    justify-content: space-between;
    border-bottom: solid #d3d3d3;
    border-width: 1px
}

.logo img {
    height: 27px;
    width: auto;
    padding-left: 25px
}

.rightNav {
    display: flex;
}

.cart {
    padding-left: 15px
}

.navBar, button {
    font-weight: 700;
    height: max-content
}

.hero, .navBar {
    width: 100%;
    display: flex;
    justify-content: center
}

.navBar {
    font-size: 15px;
    color: #696969
}

.navBar div {
    margin: 8px 15px 17px
}

.navBar span:hover {
    color: #000;
    border-bottom: 4px solid #1b5ca8;
    cursor: pointer
}

#slider {
    position: absolute;
    background: black;
    display: flex;
    width: 400px;
    height: auto;
    z-index: 50;
    left: calc(50% - 310px);
}

.hidden {
    display: none !important;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

#sliderContainer {
    display: flex;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 100;
    height: max-content;
}

ul {
    list-style: none;
}

.column {
    flex: 1;
}

.column > ul > li {
    padding: 5px;
    width: max-content;
    margin: 0 10px;
}

.column > ul > li > span {
    font-size: 15px;
    font-weight: 700;
    color: #696969;
}

.column > ul > li > span:hover {
    color: #000;
    cursor: pointer;
}

#hero {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: opacity 2s ease-in-out;
    height: 540px;
    align-items: center;
    text-align: center;
    color: #fff;
}

.heroText {
    padding-top: 80px;
}

.heroText h1 {
    font-size: 80px;
    font-weight: 800;
    margin: -10px
}

.heroText .heroSubText {
    transition: opacity 0.5s ease-in-out;
    font-size: 30px;
    font-weight: 500;
    margin: 40px 0
}

button {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    letter-spacing: .04rem;
    padding: 13px 50px;
    border-radius: 35px;
    cursor: pointer;
    text-align: center;
}

.giftButt, .heroButt, .gridButt {
    background: #fff;
    color: #1b5ca8;
    border: #fff
}

.blogTitle, .braceletText, .crocoLimited, .stampsBlue h3 {
    font-weight: 800;
    font-size: 35px;
    text-align: center;
    margin: 50px auto 0
}

.braceletText, .crocoLimited {
    color: #1b5ca8;
    width: 100%;
    max-width: 1300px
}

.stampsBlue h3 {
    color: #fff
}

.bracelet, .braceletBlock {
    display: flex;
    align-content: center;
    justify-content: center
}

.bracelet, .stampsBlue h3 {
    width: 100%;
    max-width: 1300px
}

.bracelet {
    font-size: 15px;
    font-weight: 500;
    margin-top: 30px
}

.leftBracelet {
    width: 25%
}

.leftBracelet, .middleBracelet, .rightBracelet {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.middleBracelet {
    width: 40%;
    justify-self: center
}

.rightBracelet {
    width: 25%;
    text-align: right
}

.braceletObject {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-items: center;
    margin: -1px 0
}

.smallTxt {
    font-size: 12px;
    font-weight: 400;
    margin-top: -10px
}

.braceletImage img {
    width: 90px;
    height: auto;
    margin: 20px 15px
}

.rating {
    display: flex;
    flex-direction: column
}

.braceletName {
    color: #1b5ca8;
    font-weight: 750;
    font-size: 30px;
    margin: -40px 0 10px
}

.braceletName, .cartButt, .stars {
    display: flex;
    align-self: center
}

.stars {
    justify-self: center;
    fill: #f5c211
}

.stars svg {
    width: 25px;
    height: auto
}

.stars span {
    font-size: 18px;
    font-weight: 410;
    padding-top: 2px;
    margin-left: 15px
}

.cartButt {
    background: #1b5ca8;
    color: #fff;
    border: #1b5ca8;
    margin: 20px 0 40px
}

.stamps {
    display: flex;
    justify-content: center;
    margin-top: 20px
}

.stampsBackground {
    width: 100%;
    max-width: 1150px;
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    border: #1b5ca8 2px solid
}

.stampsBlue {
    background-color: #1b5ca8;
    height: 40%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    color: #fff
}

.blogSubtitle, .stampsBlue span {
    display: flex;
    margin: 10px 30px 40px;
    text-align: center;
    font-weight: 400;
    font-size: 20px
}

.stampsWhite {
    display: flex;
    justify-content: space-around;
    padding: 0 20px
}

.stampsImage img {
    height: 200px;
    width: auto;
    margin: 40px 20px
}

.stampsImage3 img {
    padding-top: 20px;
    height: 170px
}

.gift, .present {
    display: flex;
    justify-content: center
}

.present {
    margin: 20px
}

.gift {
    height: max-content;
    align-content: center;
    margin-bottom: 20px
}

.giftBackground {
    width: 100%;
    max-width: 1150px;
    display: flex
}

.giftLeft, .giftRight {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center
}

.giftLeft {
    padding: 0 30px;
    flex-direction: column;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    border: #1b5ca8 2px solid;
    background: #1b5ca8;
    color: #fff
}

.crocoBackground h3, .giftLeft h3 {
    font-weight: 800;
    font-size: 35px;
    text-align: left;
    margin: 0 0 25px
}

.giftLeft span {
    display: flex;
    text-align: left;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px
}

.giftButt, .gridButt {
    display: flex;
    align-self: flex-start;
    margin-top: 30px
}

.blogImage img, .giftRight img {
    object-fit: cover;
    width: 100%;
    border-top-right-radius: 18px
}

.giftRight img {
    border-bottom-right-radius: 18px
}

.croco, .water {
    display: flex;
    width: 100%
}

.water {
    background-image: url(img/background1.webp);
    height: 1300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    justify-content: center
}

.croco {
    flex-direction: column;
    align-items: center;
    margin: 250px 0
}

.crocoLimited {
    margin-bottom: 40px
}

.crocoBackground {
    background-image: url(img/croco.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 18px;
    width: 100%;
    max-width: 1150px;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    color: #fff
}

.crocoBackground h3, .crocoBackground p {
    margin-left: 60px;
    margin-bottom: 10px
}

.crocoBackground h3 {
    margin-top: 50px
}

.crocoButt {
    background: #1b5ca8;
    color: #fff;
    border: #1b5ca8;
    font-size: 15px;
    margin: 5px 0 40px 60px;
    width: 350px;
}

.water2 {
    display: flex;
    background-image: url(img/background2.webp);
    width: 100%;
    height: 1300px;
    margin-top: -350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    justify-content: center
}

.blog {
    width: 100%;
    max-width: 1150px;
    margin: 300px auto 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center

}

.blogTitle {
    color: #fff
}

.blogSubtitle {
    color: #fff;
    line-height: 30px
}

.blogBackground {
    width: 100%;
    max-width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto
}

.blogLeft, .blogRight {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    height: 250px;
    width: 100%
}

.blogImage {
    height: 255px
}

.blogImage img {
    object-position: center center;
    max-height: 255px;
    height: 100%;
    border-top-left-radius: 18px
}

.blogText {
    background: #fff;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
    color: #1b5ca8;
    display: flex;
    align-items: center;
    font-weight: 800;
    line-height: 25px;
    font-size: 20px;
    height: 100px;
    padding: 0 10px
}

.blogText span {
    margin: auto;
    text-align: center
}

.water3 {
    background-image: url(img/background3.webp);
    height: 1300px;
    margin-top: -350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top
}

.gridBackground, .water3, .water4 {
    width: 100%;
    display: flex;
    justify-content: center
}

.water4 {
    height: 1700px;
    margin-top: -350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-image: url(img/background4.webp);
    flex-direction: column;
}

.blog4 {
    width: 100%;
    max-width: 1150px;
    margin: 250px auto 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center

}

.gridSubtitle {
    color: #fff;
    line-height: 30px;
    text-align: center;
    margin: 10px 30px 40px;
    font-weight: 400;
    font-size: 20px
}

.gridBackground {
    max-width: 1150px;
    max-height: 500px;
    height: 100%
}

.gridImage {
    max-width: 210px;
    width: 100%;
    overflow: hidden;
}

.gridImage, .gridImage img {
    max-height: 215px;
    height: 100%;
}

.gridImgs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    margin: 0 auto;
    border-radius: 18px;
}

.gridImageTL img {
    border-top-left-radius: 18px;
    margin: 0;
    padding: 0;
}

.gridImageTR img {
    border-top-right-radius: 18px
}

.gridImageBL img {
    border-bottom-left-radius: 18px
}

.gridImageBR img {
    border-bottom-right-radius: 18px
}

.gridButt {
    align-self: center;
    margin-top: 60px;
}

.bracelet2 {
    display: flex;
    justify-content: center;
    height: max-content;
    align-content: center;
    margin-bottom: 20px
}

.bracelet2Background {
    width: 100%;
    max-width: 1150px;
    display: flex;
    height: 500px;
}

.bracelet2Left, .bracelet2Right {
    display: flex;
    width: 50%;
    max-height: 100%;
    justify-content: center;
}

.bracelet2Left img {
    border-bottom-left-radius: 18px;
    object-fit: fill;
    width: 100%;
    height: 100%;
    border-top-left-radius: 18px
}

.bracelet2Right {
    padding: 0 30px;
    flex-direction: column;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    border: white 2px solid;
    background: white;
    align-items: flex-start;

}

.bracelet2Right h3 {
    font-weight: 800;
    font-size: 45px;
    text-align: left;
    margin: 0 0 25px;
    color: #1b5ca8;
}

.bracelet2Right span {
    display: flex;
    text-align: left;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: black;

}

.bracelet2Butt {
    display: flex;
    align-self: flex-start;
    margin-top: 30px;
}

.blog5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    max-width: 1150px;
    height: 100%
}

.blog5Title {
    font-weight: 800;
    font-size: 35px;
    text-align: center;
    margin: 40px auto;
    color: #1b5ca8;
}

.grid2Background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1150px;
    margin: 0 auto;
}

.grid2Top, .grid2Bottom {
    max-width: 1150px;
    width: 100%;
    height: auto;
    display: flex;
    margin: 0 auto;
}

.grid2Background > div > div > img {
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
}

.grid2Background > div > div > div {
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
}

.grid2Background > div > div > div > p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    padding: 0 30px;
    color: white;
}

.gridSmallTitleBottom, .gridSmallTitleTop {
    background: #1b5ca8;
    height: 90px;
    display: flex;
    align-self: center;
    width: 100%;
}

.gridSmallTitleTop {
    height: 70px;
}

.gridImageTop, .gridImageBottom {
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    width: 100%;
}

.gridImageTop img {
    object-position: center center;
    object-fit: cover;
    max-height: 370px;
    height: 100%;
    vertical-align: middle;
    width: 100%;
}


.gridImageBottom {
    width: 25%;
    margin: 0;
    padding: 10px;
}

.gridImageBottom img {
    object-position: center center;
    object-fit: cover;
    max-height: 200px;
    height: 100%;
    vertical-align: middle;
}

.form {
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(img/formBackgrnd.webp);
}

.formBackground {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.formTitle {
    margin: 10px 0;
    color: white;
    font-weight: 800;
    font-size: 48px;
}

.formParag {
    color: white;
    font-size: 20px;
    margin-bottom: 60px
}


form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formBackground > form > input {
    padding: 0 20px;
    height: 50px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 100px;
    color: dimgrey;
    font-size: 15px;
}

.submitButt {
    background: #1b5ca8;
    color: #fff;
    border: #1b5ca8;
    width: 100%;
    text-align: center;
}

footer {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.footer {
    background-color: #1b5ca8;
    color: white;
    display: flex;
    flex-direction: column;
}

.footerBackground {
    display: flex;
    justify-content: center;
}

.footerTitle {
    display: flex;
    align-self: center;
    margin: 70px 0 20px 0;
    font-size: 25px;
}

.footer-column {
    margin: 20px 100px;
}

.footer-column > h3 {
    font-weight: bold;
    font-size: 18px;
}

.footer-link {
    color: white;
    text-decoration: none;
    margin: 30px 0;
    display: block;
    font-weight: 500;
    opacity: 0.8;
}

.footer-link:hover {
    color: white;
    opacity: 1;
    text-decoration: underline;
    font-weight: 600;
}

.socials {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.socials > svg {
    fill: white;
    width: 50px;
    height: auto;
}
